@using LuanVanTotNghiep.ViewModel;

<div id="divGioHang" class="cart box_1">
    <a href="/giohang">
        <div class="total">
            <span>@ShoppingCart.Cart.Total</span>(<span>@ShoppingCart.Cart.Count</span>)
        </div>
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
    </a>
    <p><a href="javascript:;" class="simpleCart_empty">Gior hang</a></p>
    <div class="clearfix"> </div>
</div>
