
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700|Raleway" rel="stylesheet">
    <link href="~/Assets/client/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/client/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/client/css/animate.css" rel="stylesheet" />



    <link rel="stylesheet" href="~/Assets/client/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Assets/client/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Assets/client/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Assets/client/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Assets/client/css/jquery.timepicker.css">

    <link rel="stylesheet" href="~/Assets/client/css/icomoon.css">
    <link rel="stylesheet" href="~/Assets/client/css/style.css">
</head>
<body data-spy="scroll" data-target="#site-navbar" data-offset="1000">
    <!-- END nav -->
    <!-- END section -->
    @RenderBody()


    @RenderPage("_Footer.cshtml")
