@model List<LuanVanTotNghiep.Models.LOAIMONAN>
<ul>
            @foreach (var item in Model)
            {
                var link = "/sanpham/loaimon/" + @item.MALOAI;

                        <li><a href="@link">@item.TENLOAI</a></li>

            }
</ul>