@model List<LuanVanTotNghiep.Models.LOAIMONAN>

<div class="col-md-3 rsidebar span_1_of_left">
    <section class="sky-form">
        <div class="product_right">
            <h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>LOẠI MÓN ĂN</h4>
            @foreach (var item in Model)
            {
                var link = "/sanpham/loaimon/" + @item.MALOAI;
                <div class="tab1" style=" text-align:left; color:white;" >
                    <ul class="place" style=" text-align:left; color:white;">
                        <li><a href="@link" style=" text-align:left; color:white;" class="tenloai">@item.TENLOAI</a></li>
                    </ul>
                </div>
            }

        </div>
    </section>
    
</div>