<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Thông tin đơn đặt bàn mới từ khách hàng: {{CustomerName}}</title>
    <link href="../css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    Thông tin đơn đặt bàn mới từ khách hàng:  {{CustomerName}} <br />
    Điện thoại: {{Phone}} <br />
    Email: {{Email}}<br />
    Sô lượng người đến: {{SoLuong}} <br />
    Ngày đến: {{NgayDen}} <br />
    Giờ đến: {{GioDen}} <br />
    Bạn vừa đặt bàn thành công! Vui lòng liên hệ số điện thoại 0965213724 để biết thêm chi tiết.
    <button class="btn btn-info"><a href="https://localhost:44351/">Quay lại trang chủ</a></button>
</body>
</html>