<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Thông tin đơn hàng mới từ khách hàng: {{CustomerName}}</title>
    <link href="../../admin/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    Thông tin đơn hàng mới từ khách hàng: {{CustomerName}} <br />
    Điện thoại: {{Phone}} <br />
    Email: {{Email}}<br />
    Địa chỉ nhận: {{Address}}<br />
    Tổng giá trị: {{Total}} VNĐ<br />
    <div class="alert alert-success">
        Bạn vừa đặt món thành công!
    </div>
    <button class="btn btn-info"><a href="https://localhost:44351/">Quay lại trang chủ</a></button>
</body>
</html>