@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="contact">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Giới thiệu</li>
        </ol>
        <!--start contact-->
        <h3>NGON CỦA HÀ NỘI – NGON CỦA VIỆT NAM</h3>
        <div class="section group">
            <div class="col-md-6 span_1_of_3">
                @*<div class="contact_info">
                    <h4>Find Us Here</h4>
                    <div class="map">
                        <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyABQbn0Hsl--hBYgq892XhpJMsts_oUp34'></script><div style='overflow:hidden;height:200px;width:400px;'><div id='gmap_canvas' style='height:200px;width:400px;'></div>
                        <style>
                            #gmap_canvas img {
                                max-width: none !important;
                                background: none !important
                            }
                        </style></div> <a href='http://mapshomepage.net/'>googlemaps einbinden</a>
                        <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=84dbfa82c9b23afb0a3b150244d4610b47b9a601'></script>
                        <script type='text/javascript'>function init_map(){var myOptions = {zoom:16,center:new google.maps.LatLng(10.0451618,105.74685350000004),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(10.0451618,105.74685350000004)});infowindow = new google.maps.InfoWindow({content:'<strong></strong><br><br> CanTho<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
                        
                    </div>
                </div>*@
                <div class="company_address">
                    <h4>Hệ thống Quán Ăn Ngon tại Hà Nội:</h4>
                    <p>18 Phan Bội Châu, Hoàn Kiếm, Hà Nội</p>
                    <p>25T2 Trung Hòa Nhân Chính, Cầu Giấy, Hà Nội</p>
                    <p>Phone:090 212 6963</p>
                    <p>Fax: 090 218 6963</p>
                    <p>Email: <a href="mailto:sales@ngonhanoi.com.vn">sales@ngonhanoi.com.vn</a></p>
                    <p>Follow on: <a href="#">Facebook</a>, <a href="#">Twitter</a></p>
                </div>
            </div>
            <div class="col-md-6 span_3_of_3">
                <div class="contact-form" >
                    <div style="width:50%; height:50%" >
                        Ở con phố Phan Bội Châu - Hà Nội, có một ngã ba rất nổi tiếng với nhiều người. 
                    </div>
                    <div style="width:50%; height:50%" >
                        Đón hàng vạn khách mỗi ngày có lẽ đã đủ nói lên vị trí của Quán Ăn Ngon trong lòng người Việt và du khách bốn phương. 
                    </div>
                    <img src="~/upload/18PBC.jpg" style="width:30%; height:30%"  />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END section -->