

<div id="divGioHang" class="cart box_1">
    <div class="total">
        <span>@ViewBag.TongTien</span> (<span></span>)
    </div>
    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
    <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
    <div class="clearfix"> </div>
</div>