
<div>
    <form action="/sanpham/timkiem" method="get" style="margin-right: 50px">
        <input type="text" id="txtKeyword" name="keyword" placeholder="Gõ từ khoá"><button type="submit"><span class="glyphicon glyphicon-search"></span></button>
    </form>
</div>
<div id="divGioHang" class="cart box_1" style="margin-right:150px">
    <a href="@Url.Action("GioHang","GioHang")">
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true" style="color:blue"></span>
        <div class="total">
            @if (ViewBag.TongTien == null)
            {
                <span>0 VND (<span>0 món</span>)</span>
            }
            else
            {
                <span>@ViewBag.TongTien.ToString("#,##0").Replace(',', '.') VNĐ (<span> @ViewBag.TongSoLuong món </span>)</span>
            }
        </div>
        @{
            var session = (LuanVanTotNghiep.Common.getInfoKhachHang)Session[LuanVanTotNghiep.Common.CommonConstantClient.TaiKhoan];
        }
        @if (session == null)
        {
            <p>
                <a style="cursor:pointer; font-size:15px" href="/nguoidung/dangnhap" class="simpleCart_empty" ><span class="glyphicon glyphicon-user"></span>Đăng nhập</a> | <a href="/nguoidung/dangky" class="simpleCart_empty" style="font-size:15px">Đăng Ký</a>
            </p>
        }
        else
        {
            <p>
                <a href="/nguoidung/thongtinchitiet/@session.ID" class="simpleCart_empty" style="font-size:15px">Xin chào:@session.Name</a> |<a href="/nguoidung/dangxuat" class="simpleCart_empty" style="font-size:15px">Đăng xuất</a>
            </p>
        }
        <div class="clearfix"> </div>
    </a>
</div>

