@model LuanVanTotNghiep.ViewModel.LoginModel

@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en-IN">
<head>
    <meta charset="utf-8">
    <title>Đăng nhập</title>
    <link rel='icon' href='favicon.ico' type='image/x-icon' />
    <link href='https://fonts.googleapis.com/css?family=Times+New+Roman' rel='stylesheet'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel='stylesheet'>
    <link href="~/Assets/client/style_login.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.js"></script>
</head>
<body style="background-image: url(/Assets/client/images/bg_login.jpg);background-size:cover">
    <div id="login-form">

        <input type="radio" checked id="login" name="switch" class="hide">
        <input type="radio" id="signup" name="switch" class="hide">

        <div>
            <ul class="form-header">
                <li><label for="login"><i class="fa fa-lock"></i> Đăng nhập<label for="login"></li>
            </ul>
        </div>

        <div class="section-out">
            <section class="login-section">
                <div class="login">
                    @using (Html.BeginForm("DangNhap","NguoiDung", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        @if (ViewBag.ThongBao != null)
                        {

                            <div class="alert alert-danger">@ViewBag.ThongBao</div>
                        }
                    </div>
                        <ul class="ul-list">
                            <li><input type="text" required class="input" placeholder="Tên đặng nhập" name="txtTaiKhoan" /><span class="icon"><i class="fa fa-user"></i></span></li>
                            <li><input type="password" required class="input" placeholder="Mật khẩu" name="txtMatKhau" /><span class="icon"><i class="fa fa-lock"></i></span></li>
                            <li><span class="remember"><input type="checkbox" id="check"> <label for="check">Ghi nhớ</label></span><span class="remember"><a href="">Quên mật khẩu ?</a></span></li>
                            <li><input type="submit" value="Đăng nhập" class="btn"></li>
                        </ul>
                    }
                </div>

                <div class="social-login">
                    Or sign in with &nbsp;
                    <a href="/NguoiDung/LoginFacebook" class="fb"><i class="fa fa-facebook"></i></a>
                    <a href="/nguoidung/loginphone" class="tw"><i class="fa fa-phone-square"></i></a>
                </div>
            </section>
        </div>

    </div>

</body>
</html>
