  <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Danh mục chức vụ
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#">Chức vụ</a></li>
        <li class="active">Danh sách chức vụ</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Danh sách chức vụ</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="thu phóng"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="đóng"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <strong class="error">{{error}}</strong>
                    <form name="addchucvu" class="form-horizontal" style="width: 800px">
                        <div class="form-group">
                            <label for="macv" class="col-sm-2 control-label">Mã chức vụ</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="macv" placeholder="Tạo tự dộng và không được thay đổi" ng-model="newchucvu.MACV" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ten" class="col-sm-2 control-label">Tên chức vụ</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="ten" placeholder="" ng-model="newchucvu.TENCV" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mota" class="col-sm-2 control-label">Mô tả chức vụ</label>
                            <div class="col-sm-10">
                                <textarea style="height:100px" type="text" class="form-control" id="mota" placeholder="" ng-model="newchucvu.MOTACV"/>
                            </div>
                        </div>
                        <div class="form-group space">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="submit" value="Thêm mới" ng-click="add()" ng-show="addShow" ng-disabled="!addchucvu.$valid" class="btn btn-success" />
                                <input type="submit" value="Chỉnh sửa" ng-click="update()" ng-show="updateShow" ng-disabled="!addchucvu.$valid" class="btn btn-primary" />
                                <input type="button" value="Hủy bỏ" ng-click="cancel()" class="btn btn-default" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" style="width: 850px; margin-left: 50px;">
                            <tr>
                                <th>Mã chức vụ</th>
                                <th>Tên chức vụ</th>
                                <th width="500px">Mô tả</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat="chucvu in chucvus">
                                <td>
                                    <p>{{ chucvu.MACV }}</p>
                                </td>
                                <td>
                                    <p>{{ chucvu.TENCV }}</p>
                                </td>
                                <td>
                                    <p>{{ chucvu.MOTACV }}</p>
                                </td>
                                <td>
                                    <p><a class="btn btn-primary btn-xs" ng-click="edit()" href="javascript:void(0);"><span class="glyphicon glyphicon-pencil"></span></a> | <a class="btn btn-danger btn-xs" ng-click="delete()" href="javascript:void(0);"><span class="glyphicon glyphicon-trash"></span></a></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</section><!-- /.content -->