  <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Home page
        <small></small>
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Trang quản trị xây dựng website nhà hàng MVC ASP.NET WITH WEB API AND ANGULARJS</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body" style="width:50%; height:75%">
            <div >
                <img src="../../upload/viewhomepage.jpg" />
            </div>
            
        </div><!-- /.box-body -->
        <div class="box-footer">
            Footer
        </div><!-- /.box-footer-->
    </div><!-- /.box -->
</section><!-- /.content -->