<!-- Content Header (Page header) -->

<section class="content-header">
    <h1>
        Danh mục nhân viên
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#">Nhân viên</a></li>
        <li class="active">Danh sách nhân viên</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Danh sách nhân viên</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="thu phóng"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="đóng"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert-danger" style="width: 350px ;line-height: 50px; position:center;transition-delay:initial">
                        <strong class="error" style="text-align:left">{{error}} </strong>
                    </div>

                    <form name="addnhanvien" class="form-horizontal" style="width: auto;">
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <label for="manv" class="col-md-2 control-label">Mã nhân viên</label>
                                <div class="col-md-10 space">
                                    <input type="text" class="form-control" id="manv" placeholder="Tạo tự dộng và không được thay đổi" ng-model="newnhanvien.MANV" disabled />
                                </div>
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="manhahang" class="col-md-2 control-label">Nhà hàng</label>
                                <div class="col-md-10 space">
                                    <input ng-show="updateShow" ng-disabled="addnhanvien.$valid" type="text" class="form-control" id="manhahang" placeholder="" ng-true-value="newnhanvien.nhahang.TENNHAHANG" />
                                    <select ng-show="addShow" ng-disabled="addnhanvien.$valid" class="form-control" name="manhahang" ng-init="newnhanvien.MANHAHANG=nhahangs[0].ID" ng-model="newnhanvien.MANHAHANG" ng-options="nhahang.MANHAHANG as nhahang.TENNHAHANG for nhahang in nhahangs track by nhahang.MANHAHANG"></select>
                                </div>
                            </div>

                            <div class="form-group col-xs-6">
                                <label for="macv" class="col-md-2 control-label">Chức vụ</label>
                                <div class="col-md-10 space">
                                    <!--<input ng-show="updateShow" ng-disabled="addnhanvien.$valid" type="text" class="form-control" id="macv" placeholder="" ng-model="newnhanvien.MACV" />-->
                                    <select  class="form-control" name="macv" ng-init="newnhanvien.MACV=chucvus[0].ID" ng-model="newnhanvien.MACV" ng-options="chucvu.MACV as chucvu.TENCV for chucvu in chucvus track by chucvu.MACV"></select>
                                </div>
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="hoten" class="col-md-2 control-label">Họ tên</label>
                                <div class="col-md-10 space">
                                    <input type="text" class="form-control" id="hoten" ng-model="newnhanvien.HOTEN_NV" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <label for="sdt" class="col-md-2 control-label">SDT</label>
                                <div class="col-md-10 space">
                                    <input type="text" class="form-control" id="sdt" placeholder="" ng-model="newnhanvien.SDT_NV" required />
                                </div>
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="diachi" class="col-md-2 control-label">Địa chỉ</label>
                                <div class="col-md-10 space">
                                    <input type="text" class="form-control" id="diachi" placeholder="" ng-model="newnhanvien.DIACHI_NV" required />
                                </div>
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="mail" class="col-md-2 control-label">Email</label>
                                <div class="col-md-10 space">
                                    <input type="email" class="form-control" id="mail" placeholder="" ng-model="newnhanvien.EMAIL_NV" />
                                </div>
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="ngaysinh" class="col-md-2 control-label">Ngày sinh</label>
                                <div class="col-md-10 space">
                                    <input  data-input type="date" class="form-control" name="ngaysinh" placeholder="" ng-model="newnhanvien.NGAYSINH_NV" />
                                </div>
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="gioitinh" class="col-md-2 control-label">Giới tính</label>
                                <div class="col-md-10 space">
                                    <input type="radio" name="gioitinh" ng-model="newnhanvien.GIOITINH_NV" ng-value="true" /> Nam
                                    <input type="radio" name="gioitinh" ng-model="newnhanvien.GIOITINH_NV" ng-value="false" />  Nữ
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-xs-6 space">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="submit" value="Thêm mới" ng-click="add()" ng-show="addShow" ng-disabled="!addnhanvien.$valid" class="btn btn-success" />
                                <input type="submit" value="Chỉnh sửa" ng-click="update()" ng-show="updateShow" ng-disabled="!addnhanvien.$valid" class="btn btn-primary" />
                                <input type="button" value="Hủy bỏ" ng-click="cancel()" class="btn btn-default" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" style="width: auto; margin-left: 70px;">
                            <tr>
                                <th>Mã nhân viên</th>
                                <th>Nhà hàng</th>
                                <th>Chức vụ</th>
                                <th>Họ tên</th>
                                <th>Số điện thoại</th>
                                <th>Địa chỉ</th>
                                <th>Email</th>
                                <th>Ngày sinh</th>
                                <th>Giới tính</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat="nhanvien in nhanviens">
                                <td>
                                    <p>{{ nhanvien.MANV }}</p>
                                </td>
                                <td>
                                    <p>{{ nhanvien.MANHAHANG }}</p>
                                </td>
                                <td>
                                    <p>{{ nhanvien.MACV }}</p>
                                </td>
                                <td>
                                    <p>{{ nhanvien.HOTEN_NV }}</p>
                                </td>
                                <td>
                                    <p>{{ nhanvien.SDT_NV }}</p>
                                </td>
                                <td>
                                    <p>{{ nhanvien.DIACHI_NV }}</p>
                                </td>
                                <td>
                                    <p>{{ nhanvien.EMAIL_NV }}</p>
                                </td>
                                <td>
                                    <p>{{ nhanvien.NGAYSINH_NV | date:"dd/MM/y" }}</p>
                                </td>
                                <td>
                                    <p>{{ nhanvien.GIOITINH_NV ? "Nam" : "Nữ" }}</p>
                                </td>
                                <td>
                                    <p><a class="btn btn-primary btn-xs" ng-click="edit()" href="javascript:void(0);"><span class="glyphicon glyphicon-pencil"></span></a> | <a class="btn btn-danger btn-xs" ng-click="delete()" href="javascript:void(0);"><span class="glyphicon glyphicon-trash"></span></a></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</section><!-- /.content -->
