<!-- Content Header (Page header) -->

<section class="content-header">
    <h1>
        Danh sách tài khoản
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#">Nhân sự</a></li>
        <li class="active">Danh mục tài khoản</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Danh mục tài khoản</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="thu phóng"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="đóng"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert-danger" style="width: 350px ;line-height: 50px; position:center;transition-delay:initial">
                        <strong class="error" style="text-align:left">{{error}} </strong>
                    </div>
                    
                    <form name="addtaikhoan" class="form-horizontal" style="width: auto;">
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <label for="mataikhoan" class="col-md-2 control-label">Mã tài khoản</label>
                                <div class="col-md-10 space">
                                    <input type="text" class="form-control" id="mataikhoan" placeholder="Tạo tự dộng và không được thay đổi" ng-model="newtk.MATAIKHOAN" disabled />
                                </div>
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="manv" class="col-md-2 control-label">Nhân viên</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="manv" placeholder="" ng-model="newtk.MANV" required />
                                </div>
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="tendangnhap" class="col-md-2 control-label">Tên đăng nhập</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="tendangnhap" placeholder="" ng-model="newtk.TENDANGNHAP" required />
                                </div>
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="matkhau" class="col-md-2 control-label">Mật khẩu</label>
                                <div class="col-md-10">
                                    <input type="password" class="form-control" id="matkhau" placeholder="" ng-model="newtk.MATKHAU" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-group col-xs-6">
                                <label for="quyensd" class="col-md-2 control-label" style="height:30px ">Quyền sử dụng</label>
                                <div class="col-md-10 space">
                                    <input type="text" class="form-control" id="quyensd" placeholder="" ng-model="newtk.QUYENSD" required />
                                </div>
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="trangthaikichhoat" class="col-md-2 ontrol-label">Trạng thái kích hoạt</label>
                                <div class="col-md-10 space">
                                    <input type="radio" name="trangthai" ng-model="newtk.TRANGTHAIKICHHOAT" ng-value="'true'"/> Kích hoạt
                                    <input type="radio" name="trangthai" ng-model="newtk.TRANGTHAIKICHHOAT" ng-value="'false'"/> Chưa kích hoạt
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-6 space">
                            <div class="col-sm-offset-2 col-md-10">
                                <input type="submit" value="Thêm mới" ng-click="add()" ng-show="addShow" ng-disabled="!addtaikhoan.$valid" class="btn btn-success" />
                                <input type="submit" value="Chỉnh sửa" ng-click="update()" ng-show="updateShow" ng-disabled="!addtaikhoan.$valid" class="btn btn-primary" />
                                <input type="button" value="Hủy bỏ" ng-click="cancel()" class="btn btn-default" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" style="width: 850px; margin-left: 70px;">
                            <tr>
                                <th>Mã tài khoản</th>
                                <th>Nhân viên</th>
                                <th>Tên đăng nhập</th>
                                <th>Mật khẩu</th>
                                <th>Quyền sử dụng</th>
                                <th>Trạng thái kích hoạt</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat="taikhoan in taikhoans">
                                <td>
                                    <p>{{ taikhoan.MATAIKHOAN }}</p>
                                </td>
                                <td>
                                    <p>{{ taikhoan.MANV }}</p>
                                </td>
                                <td>
                                    <p>{{ taikhoan.TENDANGNHAP }}</p>
                                </td>
                                <td>
                                    <p style="display:block">{{ taikhoan.MATKHAU }}</p>
                                </td>
                                <td>
                                    <p>{{ taikhoan.QUYENSD }}</p>
                                </td>
                                <td>
                                    <p>{{taikhoan.TRANGTHAIKICHHOAT ? "Đã kích hoạt" : "Chưa được kích hoạt"}}</p>
                                </td>
                                <td>
                                    <p><a class="btn btn-primary btn-xs" ng-click="edit()" href="javascript:void(0);"><span class="glyphicon glyphicon-pencil"></span></a> | <a class="btn btn-danger btn-xs" ng-click="delete()" href="javascript:void(0);"><span class="glyphicon glyphicon-trash"></span></a></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</section><!-- /.content -->
